doctype html
head
  meta(charset='utf-8')
  title Лабораторная №2
  link(rel='stylesheet', href='/stylesheets/styles.css')
  link(rel='stylesheet', href='/stylesheets/switchery.css')
  script(src='/javascripts/switchery.js')